/* Global - Affects entire web page */

body {
    font-family:Montserrat, Verdana, sans-serif;
    letter-spacing:-0.5px;
    background-color:#F6F5F4;
    margin:auto;
   
}

h1 {
    font-size:16pt;
    font-weight:800;
    color:#3D3846
    
}

h2{
    font-size:16pt;
    font-weight:700;
    color:#3D3846
}

p, a{
    font-size:12pt;
    font-weight:500;
}

a, ul {
    color:#3584E4;
    text-decoration:none;
    transition: all 0.2s ease-in;
 
}

a:hover{
    color:#0B4387;
    text-decoration:underline;
     transition: all 0.1s ease-in;
}

a:active{
    color:#7039C9;
    text-decoration:underline;
     transition: all 0.1s ease-in;
}



footer{
    color:white;
    background-color:black;
    text-align: center;
    padding: 10px;
    display: grid;
}
section {
    padding: 1px;
}
section.lab {
  background: repeating-linear-gradient(
  65deg,
  #F8F8F8,
  #F8F8F8 40px,
  #EBEBEB 40px,
  #EBEBEB 80px
);
    border-radius: 0 0 10px 10px;
}
/* Home page */

/*header*/

.heading{
  display:flex;
    gap: 10px;
}

.course-header{
    color:white;
    
}

#banner-bg{
    background-color:#2ec27e;
    height:248px;
    background-image:url("images/header-icongrid.png");
    background-repeat:no-repeat;
    background-size:cover;    
    transition: 1s all;
}




.welcome {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content:center;
}

.welcome img {
    display:inline-block;
    padding-bottom:20px;
  padding-top:20px;
}

.welcome h1 {
    display: inline-block;
    font-size: 30pt;
    color:white;
}


.welcome img {
    animation: waveauto 0.5s infinite 2;
    
    animation-delay:1s;
   
}

@keyframes waveauto {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
    
}

.welcome img:hover {
    animation: 0.5s infinite alternate wave;
   
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.heading img {
    display: inline-block;
    padding: 15px;
   
}

.heading h2 {
    display: inline-block;
}


.course-header h2 {
    font-size:10pt;
    width:50%;
    margin:auto;
    text-align:center;
    color:white;
    
}

.logo {
   display:flex;
   padding: 30px 30px 0 30px;
   align-items:center;
   justify-content: space-between;
}

.introduction {
    text-align:center;
    width:90%;
    margin:auto;
    padding:12px;
   
    
}



.bolder {
    font-weight: 800;   
    
}
/*cards*/

#card-expo
{
   
    display: grid;
    width: 100%;
    justify-items: center;
    max-width: 1080px;
    margin: auto;
    /*grid-template-columns: 1fr;*/
    padding-bottom:20px;
    
}

.socials img {

  width:20px;
  height:20px;
  padding-right:5px;
  padding-left:10px;
  
}

.card {
    background:white;
    width: 250px;
    margin-top:4px;
    margin-bottom:26px;
    /*! padding:20px; */
    border-radius:20px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
    border:1px solid #E4E4E4;
    line-height:2;
    font-weight:500;
    transition: box-shadow 0.4s ease-in-out;
}



.rd.card:hover, .final.card:hover, .studio.card:hover {
        box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.1);
        transition: box-shadow 0.4s ease-in-out;

}


/* MEDIA QUERY*/
@media (min-width:550px) {
    #card-expo
    {
        grid-template-columns: 1fr 1fr;
    }
 
    
}

@media (min-width:850px) {
    #card-expo
    {
       
        grid-template-columns: 0.5fr 0.5fr 0.5fr ;
       
        /*grid-gap: 60px;*/
        

    }
   
}
