/* page styles */

* {
   box-sizing:border-box;
  
   
}

body {
    font-family: 'Gaegu', Verdana, sans-serif;
    background-color:#F6F9FB;
    
   
}

h1  {
    /* padding-top:10px; */
    font-size:22pt;
    text-align:center;
    font-weight:800;
    color:#3D3846;
}

h2 {
    font-size:14pt;
    font-weight:700;
    color:#3D3846
}

p {
    font-size:18pt;
    font-weight:500;
    line-height:1.5;
    padding-bottom:10px;

}

li{
  font-size:16pt;
}


/* nav bar */

#navbar {
  display:flex;
  overflow:hidden;
  z-index:999;
  justify-content:space-between;
  padding-right:40px;
  align-items:center;

}

.logo {
   padding: 40px 0 40px 40px;    
}

.nav-buttons {
  display:flex;
  gap:40px;
}


  

/* help guide*/

#guide{
  width:100%;
  max-width:700px;
  margin-top:20vh;
  max-height:60vh;
  
  
}


.guide-header{
    position:fixed;
    margin-left:660px;
    margin-top:-70px;
}

#btnClose{
 
  background-color:black;
  
  height:50px;
  width:50px;
  border-radius:50px;
  color:white;
  border:0;
  font-weight:bold;
  font-size:14pt;
  cursor:pointer;
}

#guideBtn{
  background:none;
  color:inherit;
  border:none;
  cursor:pointer;

}

/* main content */

html, body { 
  
  height: 100%; 

}

.cardheader-front h1 {
 padding-top:10px;
  
}

#cardarea {
  background-image: linear-gradient(180deg, white 3rem, #f0a4a480 calc(1rem), #f0a4a4b0 calc(3rem + 2px), #ffffff00 1px),
  repeating-linear-gradient(0deg,white, white, white 1.5rem, #4688b3 1px, #fff0 calc(1.3rem + 4px));
  background-position:0 -6px;
  box-shadow: 0px 4px 20px rgba(0,0,0,.10);
  height: 346px;
  width: 500px;
  margin: auto;
  position: relative;
  top: 50%;
}

.card-data-front{
  margin-left:70px;
}



/*#page .button{
  display:flex;
  text-align:center;
  justify-content:center;
  align-items:center;
  padding-top:40px;*/

#button-area {
  padding-top:40px;
  
}
.flip{
  display:block;
  background: linear-gradient(90deg, rgba(0,71,255,1) 0%, rgba(199,79,255,1) 100%);
  border-radius:100px;
  border:0;
  height:60px;
  width:60px;
  margin-left:auto;
  margin-right:auto;
  align-items:center;
  
  
  
  
}


/* footer */

footer{
  font-family: Montserrat, Verdana, sans-serif;
  height:100px;
  color:black;
  padding-top:20px;
  text-align:center;
  
}

/* Home page */



@media only screen and (max-width: 480px) {


}

.word {
  padding-bottom: 0;
  margin: 0;
  border: none;
  background: none;
  border-bottom: 2px solid #1a1a1a;
  transform: translateY(0px);
  width:23%;
  height:26px;
  margin-left:100px;
  color: blue;
}