* {
   box-sizing:border-box;
   
}

body {
    font-family:Montserrat, Verdana, sans-serif;
    letter-spacing:-0.5px;
    background-color:white;
    margin:auto;
   
}

h1  {
    font-size:24pt ;
    font-weight:800;
    color:#3D3846;
}

h1 a {
    font-size:28pt ;
    font-weight:800;
    color:#3D3846;
}

h2{
    font-size:16pt;
    font-weight:700;
    color:#3D3846
}

p, a{
    font-size:14pt;
    font-weight:500;
}

a, ul {
    color:#3584E4;
    text-decoration:none;
    transition: all 0.2s ease-in;
 
}

a:hover{
    color:#0B4387;
    text-decoration:underline;
     transition: all 0.1s ease-in;
}

a:active{
    color:#7039C9;
    text-decoration:underline;
     transition: all 0.1s ease-in;
}

.logo {
   display:flex;
   padding: 30px;
   align-items:center;
   justify-content: space-between;
}

/* Article forms - Home page */


.forms h1{
    font-size:33px;
  }
  .forms {
    font-size:18px;
     padding-top:1.5%;
  }
  #article-peak{
    
    margin-left:5%;
    margin-right:5%;
  }
  #article-peak .forms-image{
    width:50vw;
   float:left;
   padding-right:60px
   
  }
.forms-image img{
   border-radius:20px;
}
    
#article_expo {
  
  margin-top: 0%;
  margin-left: 5%;
  margin-right: 5%;
  
}

#article-forms{
    margin-left:20%;
    margin-right:20%;
  padding-top:2.5%;
  padding-bottom:2.5%;
 
  }
#article-forms p {
  line-height:1.8;
}

#article-forms img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  }
