/* page styles */

* {
   box-sizing:border-box;
  
   
}

body {
    font-family: 'Gaegu', Verdana, sans-serif;
    background-color:#F6F9FB;
    
   
}

h1  {
    /* padding-top:10px; */
    font-size:24pt;
    text-align:center;
    font-weight:800;
    color:#3D3846;
}

h2 {
    font-size:14pt;
    font-weight:700;
    color:#3D3846
}

p {
    font-size:18pt;
    font-weight:500;
    padding-bottom:10px;

}

li{
  font-size:16pt;
}


/* nav bar */

#navbar {
  display:flex;
  overflow:hidden;
  z-index:999;
  justify-content:space-between;
  padding-right:40px;
  align-items:center;

}

.logo {
   padding: 20px 0 0 20px; 
  
}

.logo img{
  width:250px;
}

.nav-buttons {
  display:flex;
  gap:40px;
  margin-top:10px;
}


  

/* help guide*/

#guide{
  width:100%;
  max-width:500px;
  margin-top:20vh;
  max-height:60vh;
  
  
}


.guide-header{
    position:fixed;
    margin-left:460px;
    margin-top:-70px;
}

#btnClose{
 
  background-color:black;
  
  height:50px;
  width:50px;
  border-radius:50px;
  color:white;
  border:0;
  font-weight:bold;
  font-size:14pt;
  cursor:pointer;
}

#guideBtn{
  background:none;
  color:inherit;
  border:none;
  cursor:pointer;

}
#page{
  display:relative;
  position:relative;
  margin-top:40vh;
  bottom:200px;
  
}


/* CARD */


.cardheader-front h1 {
 margin-top:10px;
}

.cardheader-back {

  display:flex;
  align-items:center;
  gap:20px;
  justify-content:center;
 
}
.cardheader-back h1{
  margin-top:4px;
}

.cardheader-back img{
  width:40px;
  height:44px;
  margin-bottom:20px;
    
}

#cardarea {
  background-image: linear-gradient(180deg, white 3rem, #f0a4a480 calc(2rem), #f0a4a4b0 calc(3rem + 2px), #ffffff00 2px),
                    repeating-linear-gradient(0deg,white, white, white 1.5rem, #4688b3 2px, #fff0 calc(1.3rem + 4px));
  background-position:0 -8px;
  box-shadow: 0px 4px 20px rgba(0,0,0,.10);
  height: 405px;
  width: 500px;
  margin: auto;
  transition: all 1s ease-in-out;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  background-color:white;
  
}

/* This spot fixes mirroring issue with Firefox.*/
#cardarea #flip-card-back{
  background-image: linear-gradient(180deg, white 3rem, #f0a4a480 calc(1rem), #f0a4a4b0 calc(3rem + 2px), #ffffff00 1px),
                    repeating-linear-gradient(0deg,white, white, white 1.5rem, #4688b3 1px, #fff0 calc(1.3rem + 4px));
  background-position:0 -6px;
  box-shadow: 0px 4px 20px rgba(0,0,0,.10);
}



.card-data-back p {
 padding-left:20px;
 padding-right:20px;

}

.do-flip {
  transform: rotateY(-180deg);
 
}


#cardarea #flip-card-front {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  z-index: 2;
  
}

#cardarea #flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  z-index: 2;
  
}

#cardarea #flip-card-back {
   
    transform: rotateY(180deg);
  
}

 #cardarea #flip-card-back p {
 
  position: absolute;
  top: 10%;
  width: 100%;
  font-size:14pt;
  
}



#button-area {
  padding-top:40px;
  
}
#flipBtn{
  /* display:block; */
  font-family:monospace;
  font-weight:600;
  font-size:12pt;
  background: rgb(0 71 255);
  border-radius:100px;
  border:0;
  height:50px;
  width:120px;
  margin-left:auto;
  margin-right:auto;
  align-items:center;
  display:flex;
  gap:2px;
  color:white;
  justify-content: center;
   transition:0.25s all ease-in-out;
}

#flipBtn:hover{
  cursor:pointer;
  background: rgb(36 96 255);
  transition:0.25s all ease-in-out;
  

  
}

#flipBtn:active{
  cursor:pointer;
  background: rgb(0 50 182);

  
}



.rotate-icon {
    transition: 1s ease-in-out;

}

.rotate{
    transform:rotate(360deg);

}

.word {
  padding-bottom: 0;
  margin: 0;
  border: none;
  background: none;
  border-bottom: 2px solid #1a1a1a;
  transform: translateY(0px);
  width:34%;
  height:26px;
  color: blue;
}


.card-data-front{
  position:relative;
  line-height:1.25;
  bottom:6px;
  
}

.card-data-front li {

  display:flex;
  position:relative;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  font-size:18pt;
  bottom:10px;

  
}

.card-data-front .word{
  margin-right:195px;
}

.card-data-back .word{
  width:26%;
  height:25px;
}

.disabledBtn {
  background-color: #c3c3c3 !important;
}

#helpsectionBtn {
  position:absolute;
  color:#504617;
  background-color:#ffd50078;
  left:320px;
  top:170px;
  transform:rotate(-12deg);
  font-size:24pt;
  border:none;
  text-decoration:underline;
  cursor:pointer;
  z-index:30;
}
#helpsectionBtn:hover {
  background-color:#fed400bf;
}


@media only screen and (max-width: 500px) {
  #page {
    position:relative;
    bottom:260px;
  }
  #cardarea {
  background-image: linear-gradient(180deg, white 3rem, #f0a4a480 calc(2rem), #f0a4a4b0 calc(3rem + 2px), #ffffff00 2px),
                    repeating-linear-gradient(0deg,white, white, white 1.5rem, #4688b3 2px, #fff0 calc(1.3rem + 4px));
  background-position:0 -6px;
  box-shadow: 0px 4px 20px rgba(0,0,0,.10);
  height: 500px;
  width: 100vw;
  margin: auto;
  transition: all 1s ease-in-out;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  background-color:white;
  
}
  #helpsectionBtn {
  position:absolute;
  color:#504617;
  background-color:#ffd50078;
  left:24vw;
  top:400px;
    width:50%;
  transform:rotate(-12deg);
  font-size:24pt;
  border:none;
  text-decoration:underline;
  cursor:pointer;
  z-index:30;
}

  .card-data-front .word{
  margin-right:40px;
}
  .logo img{
    width:75%;
  }
  .github img{
    width:100%;
  }
  .word{
  width:38%;
  }

  #guide{
    width:75%;
  }
 .guide-header {
    position:fixed;
    margin-left:60%;
    margin-top:-70px;
   z-index:10;
}
   #cardarea #flip-card-back p {
     position:relative;
     font-size:15pt;
     bottom:30px;
  }
}